<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    .card {
        padding: 20px 20px;
        border: 0;
    }

    .card-heading {
        padding-bottom: 15px;
    }

    .pull-right {
        float: right;
    }

    .pull-left {
        float: left;
    }

    .col-md-5 {
        margin: 110px auto 0 auto;
    }
</style>
<div class="container-fluid">
    <form name="form" (ngSubmit)="userform.form.valid && SaveUser(userform)" #userform="ngForm" novalidate>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-heading">
                        <h4 class="card-title pull-left">Create Employee</h4>
                        <a class="pull-right" routerLink="/user-list/">
                            < Back to list</a>
                    </div>
                    <div class="card-block">
                        <div class="mrg-top-20">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="employee_name">Name*</label>
                                                <input autocomplete="off" type="text" class="form-control"
                                                    name="employee_name" [(ngModel)]="userObj.employee_name"
                                                    #employee_name="ngModel"
                                                    [ngClass]="{ 'is-invalid': userform.submitted && employee_name.invalid }"
                                                    required />
                                                <div *ngIf="userform.submitted && employee_name.invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="employee_name.errors.required">Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="employee_salary">Salary*</label>
                                                <input autocomplete="off" type="text" class="form-control"
                                                    name="employee_salary" [(ngModel)]="userObj.employee_salary"
                                                    #employee_salary="ngModel"
                                                    [ngClass]="{ 'is-invalid': userform.submitted && employee_salary.invalid }"
                                                    required />
                                                <div *ngIf="userform.submitted && employee_salary.invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="employee_salary.errors.required">Salary is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="employee_age">Age*</label>
                                                <input autocomplete="off" type="text" class="form-control"
                                                    name="employee_age" [(ngModel)]="userObj.employee_age"
                                                    #employee_age="ngModel"
                                                    [ngClass]="{ 'is-invalid': userform.submitted && employee_age.invalid }"
                                                    required />
                                                <div *ngIf="userform.submitted && employee_age.invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="employee_age.errors.required">Age is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12 text-center">
                                            <div class="submit_comon_btn mrg-top-5">
                                                <button type="submit"
                                                    class="btn submit_btn text-uppercase">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>