.loginwrapper {
    height: 100vh;
    transition: all ease 10000000000000s
}

.loginLogoWrap {
    position: relative;
    width: 100%;
    padding: 140px 0 30px 0;
}

.loginLogoWrap img {
    width: 200px;
    margin: 0 auto;
    height: auto;
}

.loginTextWrap {
    width: 100%;
    text-align: center;
}

.loginTextWrap h2 {
    font-family: 'GeneralSans-Medium';
}

.login_control_wrap {
    padding: 70px 25px 0px 25px;
}

.login_control_wrap .input_control_country {
    width: 25%;
    display: inline-block;
}

.login_control_wrap .input_control {
    width: 70%;
    display: inline-block;
    margin-left: 5%;
}

.login_control_wrap .mat-form-field {
    text-align: center;
}

.loginTextWrap P {
    padding: 0 15px;
}

.login_terms {
    position: relative;
    margin: 15px 0 0 0;
}

.loginButtonWarp {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.loginButtonWarp .mat-flat-button {
    width: 90%;
}
.input:focus{
    outline: none;
}